/* Dev Forums */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Lora:wght@500&family=Rubik&family=Shippori+Antique&display=swap');
*{
    font-family: 'Shippori Antique', sans-serif;
    margin: 0px;
    padding: 0px;
}

.special{
    display: none;
}

/* Navbar */
.navbar-brand{
    font-size: 25px !important;
}
.nav-item{
    font-size: 17px;
}
.nav-item:hover{
    transform: scale(1.1);
}
.dropdown-divider{
    margin: 0px !important;
}

/* Footer */
footer{
    padding: 10px;
    font-size: 19px;
}

/* Home Page */
.welcome{
    background-color: rgb(210, 244, 255);
    padding: 10px 0px;
}
.welcome h3{
    font-size: 30px;
}
.welcome p{
    font-size: 25px;
}
.categories .card{
    width: 20rem;
}
.categories img{
    height: 240px !important;
}
.categories .last-card{
    height: 430px;
}
.categories .last-card .card-body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.categories .last-card .card-text a:hover{
    color: black !important;
}

/* About Page */
.carousel .w-100{
    width: 100% !important;
    height: 300px;
}
.about{
    width: 75%;
    margin: auto;
    padding: 10px 15px;
}

/* Sign Up */
.signup{
    margin-top: 75px;
    margin-bottom: 75px;
}
.signup .card{
    width: 70%;
    margin: auto;
    padding: 10px 15px;
}
.signup form{
    font-size: 20px;
}
.signup form button{
    width: 100%;
}
.signup .required{
    display: none;
    color: red;
    font-size: 18px;
}




  